@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --main-text: #000000;
  --secondary-text: #616161;
  --accent-color: #FF4081;
  --hover-button: #ee1e64;
  --borders-color: #E0E0E0; 
}

[data-theme='dark']{
  --background: #121212;
  --main-text: #FFFFFF ;
  --secondary-text: #B0B0B0;
  --accent-color: #FF4081;
  --hover-button: #ee1e64;
  --borders-color: #333333;
}